<section id="about" class="section-about">
  <h2 class="about-title">About the Game</h2>
  <div class="about-container">
    <picture class="about-picture">
      <source
        srcset="./img/about/about-mobile.png"
        media="(min-width: 320px)"
      />
      <source srcset="./img/about/about-desk.png" media="(min-width: 1200px)" />
      <img src="./img/about/about-desk.png" alt="woman in karniaval dress" />
    </picture>

    <div class="text-wrapper-about">
      <p class="about-text">
        Dive into Legendary Hero Bingo, where the excitement of bingo meets the
        thrill of adventure! Join heroic characters on a journey through
        mystical lands as you compete in classic and innovative bingo games.
        With each win, unlock new heroes, powers, and magical rewards.
      </p>
      <p class="about-text">
        Whether you're a bingo enthusiast or an adventure seeker, Legendary Hero
        Bingo offers a unique blend of strategic gameplay and thrilling fantasy
        storytelling.
      </p>
    </div>
  </div>
</section>
