<section id="benefits" class="benefits-section">
  <h2 class="title">Benefits</h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <img
        src="./img/benefits/benefits-1.png"
        alt="circle from bingo"
        class="benefits-img"
      />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Unique Hero Powers:</h3>
        <p class="benefits-text">
          Use legendary heroes’ abilities to gain an edge in your bingo games.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img
        src="./img/benefits/benefits-2.png"
        alt="circle from bingo"
        class="benefits-img"
      />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Diverse Game Modes:</h3>
        <p class="benefits-text">
          Play traditional bingo, quick rounds, and special themed challenges.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img
        src="./img/benefits/benefits-3.png"
        alt="circle from bingo"
        class="benefits-img"
      />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Fantasy World Exploration:</h3>
        <p class="benefits-text">
          Unlock magical realms and discover hidden treasures.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img
        src="./img/benefits/benefits-4.png"
        alt="circle from bingo"
        class="benefits-img"
      />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Competitive Play:</h3>
        <p class="benefits-text">
          Challenge players worldwide in real-time multiplayer matches.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img
        src="./img/benefits/benefits-5.png"
        alt="circle from bingo"
        class="benefits-img"
      />
      <div class="benefits-wrapper">
        <h3 class="benefits-item-title">Customizable Experience:</h3>
        <p class="benefits-text">
          Upgrade heroes, collect rare items, and design your bingo boards.
        </p>
      </div>
    </li>
  </ul>
</section>
