<section id="gallery" class="gallery-section">
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery-back">
    <div class="gallery-container">
      <button class="gallery-btn prev-btn">
        <img
          src="./img/gallery/arrow-left-desk.png"
          alt="Previous"
          class="btn-img-desktop"
        />
        <img
          src="./img/gallery/arrow-left-mobile.png"
          alt="Previous"
          class="btn-img-mobile"
        />
      </button>
      <div class="gallery-image-wrapper">
        <a href="img/gallery/gallery-1.png" class="gallery-link">
          <!-- Первое изображение видно -->
          <img
            src="img/gallery/gallery-1.png"
            alt="Gallery Image 1"
            class="gallery-image"
          />
        </a>
        <a href="img/gallery/gallery-2.png" class="gallery-link hidden">
          <img
            src="img/gallery/gallery-2.png"
            alt="Gallery Image 2"
            class="gallery-image"
          />
        </a>
        <a href="img/gallery/gallery-3.png" class="gallery-link hidden">
          <img
            src="img/gallery/gallery-3.png"
            alt="Gallery Image 3"
            class="gallery-image"
          />
        </a>
        <a href="img/gallery/gallery-4.png" class="gallery-link hidden">
          <img
            src="img/gallery/gallery-4.png"
            alt="Gallery Image 4"
            class="gallery-image"
          />
        </a>
      </div>
      <button class="gallery-btn next-btn">
        <img
          src="./img/gallery/arrow-right-desk.png"
          alt="Next"
          class="btn-img-desktop"
        />
        <img
          src="./img/gallery/arrow-right-mobile.png"
          alt="Next"
          class="btn-img-mobile"
        />
      </button>
    </div>
  </div>
</section>
