<section class="gallery-section">
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery-back">
    <div class="gallery-container">
      <button class="gallery-btn prev-btn">
        <img src="img/gallery/arrow-left-desk.png" alt="Previous" class="btn-img-desktop">
        <img src="img/gallery/arrow-left-mobile.png" alt="Previous" class="btn-img-mobile">
      </button>
      <div class="gallery-image-wrapper">
        <img src="img/gallery/gallery-1.png" alt="Gallery Image 1" class="gallery-image">
      </div>
      <button class="gallery-btn next-btn">
        <img src="img/gallery/arrow-right-desk.png" alt="Next" class="btn-img-desktop">
        <img src="img/gallery/arrow-right-mobile.png" alt="Next" class="btn-img-mobile">
      </button>
    </div>
  </div>
</section>
