<section id="hero" class="hero-section">
  <img
    src="./img/hero/hero-mobile.png"
    alt="witcher with blue fire"
    class="hero-img"
  />
  <h1 class="hero-title">Join the Heroes, Conquer the&nbsp;Bingo World!</h1>
  <a
    href="https://play.google.com/store/apps/details?id=legendary.hero.bingo.online.free.android"
    class="btn-link"
  >
    <img
      src="./img/hero/icon-google-btn.png"
      alt="icon-google-play"
      class="icon-play"
    />
    <p>Play Now on <span class="accent-hero">Google Play</span></p>
  </a>
</section>
