<section id="why-you-love" class="why-section">
  <h2 class="why-title">Why You'll Love This Game</h2>
  <div class="why-container">
    <div class="why-text-blocks">
      <div class="why-item">
        <p class="why-text">
          Combines the classic thrill of bingo with immersive fantasy
          storytelling.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
          Features a diverse cast of heroes with unique abilities.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
          Offers a wide range of game modes to suit all playstyles.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
          Provides regular updates with new challenges, heroes, and events.
        </p>
      </div>
      <div class="why-item">
        <p class="why-text">
          Perfect for casual gaming or competitive fun with friends.
        </p>
      </div>
    </div>
    <div class="section-image-container">
      <img src="./img/why-you-love/pig-desk.png" alt="User Reviews" class="reviews-picture">
    </div>
  </div>
</section>
