.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 2px solid;
  padding: 32px 16px;

  @include media(desktop) {
    padding: 0;
    flex-direction: row; /* На десктопах элементы в строку */
    align-items: center; /* Выравниваем по вертикали */
    justify-content: flex-end; /* Выравниваем в конце */
  }
}

.footer-nav {
  display: flex;
  flex-direction: column; /* Делаем элементы в одну строку */
  align-items: center; /* Выравниваем элементы по вертикали */
  justify-content: center; /* Центрируем на мобильных */
  padding: 40px 38px;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row; /* На десктопах элементы в строку */
    justify-content: flex-end; /* На десктопах выравниваем вправо */
    padding: 36px 30px;
    gap: 12px; /* Промежуток между пунктами навигации */
  }
}

.footer-nav .separator {
  margin: 0 8px; /* Добавляем небольшой отступ */
}

.footer-container p {
  width: 180px;
  margin: 0 auto;

  @include media(desktop) {
    width: auto;
    margin: 0;
  }
}
