@import './header.scss';
@import './terms-and-policy.scss';

:root {
  font-family: Lato, Roboto Slab, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  scroll-behavior: smooth;

  color: $_golden;
  background-color: $_dark_blue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 320px;
  margin: 0 auto;
  padding-top: 80px;

  @include media(desktop) {
    width: 1200px;
  }
}
