.why-section {
  text-align: center;
  margin-top: 64px;
  margin-left: 16px;
  margin-right: 16px;

  @include media(desktop) {
    margin-top: 120px;
     margin-left: 30px;
  margin-right: 30px;
  }
}

.why-title {
  color: $_golden;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 64px;
  }
}

.why-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.why-text-blocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  @include media(desktop) {
    gap: 20px;
    width: 654px;
    height: 636px;
  }
}

.why-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 206px;
  background-image: url(../img/why-you-love/frame-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    width: 100%;
    height: auto;
    background-image: url(../img/why-you-love/frame-desk.png);
    background-size: contain;
    background-position: center;
  }
}

.section-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 461px;
  height: 636px; 
}

.reviews-picture {
  width: 238px;
  height: auto;
  border: 2px solid #f49a38;

  @include media(desktop) {
    border: 4px solid #f49a38;
    width: 461px;
    height: 636px;
  }
}

.why-text {
  color: $_white;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  padding: 18px 48px;

  @include media(desktop) {
    width: 558px;
    font-size: 24px;
  }
}

.why-item {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 288px;
  height: 206px;
  background-image: url(../img/why-you-love/frame-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url(../img/why-you-love/frame-desk.png);
  }
}
